:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* == pagina == */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

.page {
  background-color: black;
  
}

.page::before {
  content: "";
  display: block;
  height: 300px; 
}

.favorites-checked .page::before {
  height: 450px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 25px 40px;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1001;
}

#language-container {
  display: flex;
  gap: 12px;
  justify-self: start;
}

.language {
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer; 
}

.language:hover {
  transform: scale(1.2);
}


.language.active {
  background-color: rgb(247, 90, 137); 
  color: white;
  
}


.header-context {
  justify-self: center;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0; 
}

#status {
   margin-top: 4px;
   font-size: 1.1rem;
}


.filters {
  justify-self: end;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;  
}

.checkbox-row {
  position: fixed;
  top: 150px;
  z-index: 1002;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  color: white;
}

.checkbox-row input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;

  border: 2px solid white;
  border-radius: 4px;
  background-color: black;

  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  transform: translateY(1px);
}

/* hover effect */
.checkbox-row input[type="checkbox"]:hover {
  border-color: rgb(247, 90, 137);
  transform: scale(1.1);
}

/* checked state */
.checkbox-row input[type="checkbox"]:checked {
  background-color: rgb(247, 90, 137);
  border-color: rgb(247, 90, 137);
}

/* checkmark tekenen */
.checkbox-row input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: absolute;
  top: -1px;
  left: 2px;
}

.filter-row {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.filters input[type="text"], .filters select {
  width: 180px;
  box-sizing: border-box;
  padding: 7px 10px;
  border-radius: 6px;
  border: 1px solid #888;
  background-color: white;
  color: black;
}

#calc-route {
 
  margin: 5px 10px 2px 10px;
 
  font-size: 0.9rem;
  font-weight: 500;
  background-color: white;
  color: black;
  border: none;
  width: 180px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

#calc-route:hover {
  transform: scale(1.1);
}



#map { 
  position: fixed;
  top: 190px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 300px;
  
}

.favorites-checked #map 
{ height: 450px;}



 .leaflet-routing-alt {
  
  color: black;
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.leaflet-routing-alt h2 {
  color: black;
  font-size: 11px !important;
  font-weight: normal;
  
}

.leaflet-routing-alt tr:hover * {
  
  background-color: rgb(247, 90, 137);
}

.my-div-icon {
  width: 15px;
  height: 20px;
  background-color: black;
}


.murals {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.mural-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 260px;
  max-width: 220px;
  
  background-color: black;
  color: white;
  border: 2px solid white ;
  
  border-radius: 14px;
  padding: 1rem;
  
 
}
.mural-card:hover {
 
  box-shadow: 0 6px 18px rgba(0,0,0,.35);
  border-color: rgba(255,255,255,.5);
  
}

.mural-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  background-color: black;
  margin-bottom: 20px;
  overflow: hidden;
  object-fit: contain;
 
}

.mural-img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
  
}



.mural-preview {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
  background: rgba(0,0,0,0.2);
  
  
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease, visibility .15s ease;

  pointer-events: none;

  z-index: 999;
}

.mural-preview img {
  display: block;
  max-width: min(92vwn, 1000px);
  max-height: 45vh;
  object-fit: contain;
  border-radius: 8px;
}



.mural-img:hover + .mural-preview {
  visibility: visible;
  opacity: 1;
  
 
}


.mural-body {
  margin-top: 8px;
  min-height: 92px;

 
}

.mural-body h2 {
  
  padding-left: 6px;
  font-size: 1rem;
  line-height: 1.2;
  
 
}


.mural-body p {
  padding-left: 6px;
  margin: 4px 0;
  font-size: 0.9rem;
  line-height: 1.2;
}

.mural-body h2:hover {
  transform: scale(1.1);
  font-weight: 700;
  color: rgb(247, 90, 137);
  cursor: pointer;
}

.site {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 1px;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

.site:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.mural-footer{
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  
}

.favorite-mural {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  padding: 0;

  
}

.fav-marker .iconFavo {
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
}

.favorite-mural:hover {

  transform: scale(1.4);
}



